h2 {
    text-align: center
}

body{
    background-image: url(images/pic.jpg);
    height: 10vh;
    background-size: contain;
    background-position: center;
}
        
.signup{
    width: 360px;
    padding: 2% 0 0;
    margin: auto;
}

.form{
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input{
    font-family: Arial, Helvetica, sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: auto;
}

#btn{
    font-family: "roboto", sans-serif;
    text-emphasis: 15%;
    width: 100%;
    border: 0;
    padding: 5%;
    font-size: 14px;
    cursor: pointer;
}
.form button{
    font-style: initial;
    widows: 5px;
    cursor: pointer;
    width: 30%;
    border: 0;
}

.form label{
    display: inline;
    position: relative;
    cursor: pointer;
    font-size: 14px;
}