body{
    background-image: url(images/pic.jpg);
    height: 2cm;
    background-size: auto;
    background-position: center;
}
h1{
    text-align: center;
}
h2{
    font-style: italic;
    text-align: center;
}
.form{
    text-align: center;
    padding: 2%;
}
.form input{
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: auto;
}
.form button{
    font-family: "roboto", sans-serif;
    text-emphasis: 15%;
    width: 10%;
    border: 0;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
}