body{
    background-image: url(images/2.jpg);
}
h1 {
    text-align: center; 
}

#index_button{
    text-align: center; 
}
.btn{
    padding: 15px;
    border:2px solid maroon;
    border-radius: 5px;
    font: 1em sans-serif;
    cursor: pointer;
}
